<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">

  <img src="../../../../assets/imagens/{{ pensamento.modelo }}.png">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <p class="data">{{ pensamento.data }}</p>

  <div class="acoes">

    <div class="acoes">
      <button class="botao-favorito">
        <img src="../../../../assets/imagens/icone-favorito-{{mudarIconeFavorito()}}.png" (click)="favoritar()" alt="">
      </button>
    </div>

    <button class="botao-editar" routerLink="/pensamentos/editarPensamento/{{ pensamento.id }}">
      <img src="../../../../assets/imagens/icone-editar.png">
    </button>

    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{ pensamento.id }}">
      <img src="../../../../assets/imagens/icone-excluir.png">
    </button>

  </div>

</div>
